.product-item {
  @face-height: 100px;
  border: 1px solid lightgray;

  .id {
    overflow-x: hidden;
    white-space: nowrap;
  }

  .face {
    height: @face-height;
    line-height: @face-height;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
  }
}